html,
body {
  overflow: hidden;
  margin: 0;
  background-color: black;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
  white-space: nowrap;
}

.sidebar-container {
  padding-left: 10px;
  padding-right: 10px;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 32px;
  padding: 5px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.closeBtn-container {
  height: 32px;
}

.openBtn {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 32px;
  cursor: pointer;
}
.canvas-container {
  position: relative;
}
.canvas-container canvas {
  transition: 0.5s;
}

.canvas-sidebar-open {
  margin-left: 300px;
}
.sidebar-open {
  width: 300px;
}
.sidebar-label {
  line-height: 0;
  color: white;
  transition-delay: 500ms;
}

.sidebar-input {
  margin: 5px;
  display: none;
}

.sidebar-background-input {
  margin: 5px;
}

.sidebar-input:invalid {
  border-color: red;
}

.sidebar-input:focus:invalid {
  outline-color: red;
}

.sidebar-select {
  margin: 5px;
}

.sidebar-checkbox-label {
  color: white;
  margin: 0;
  margin-left: 5px;
}

.sidebar-checkbox {
  margin: 0;
  margin-left: 5px;
}

.sidebar-form {
  display: flex;
  flex-direction: column;
}

.sidebar-form hr {
  width: 100%;
}

input,
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 576px) {
  .sidebar-open {
    width: 100vw;
  }
  .canvas-sidebar-open {
    padding-left: 100vw;
  }
}
