html,
body {
  overflow: hidden;
  margin: 0;
  background-color: black;
}
.sidebar {
  align-self: baseline;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3vw;
  white-space: nowrap;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 1vw;
  font-size: 2vw;
  padding: 0.5vw;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}
.openBtn {
  position: absolute;
  left: 1vw;
  bottom: 1vw;
  font-size: 3vw;
}
.canvas-container {
  position: relative;
}
.canvas-container canvas {
  transition: 0.5s;
}

.canvas-sidebar-open {
  padding-left: 20vw;
}
.sidebar-open {
  width: 20vw;
}
.sidebar-label {
  color: white;
  font-size: 1.5vw;
  padding: 0.5vw;
  transition-delay: 500ms;
}

.sidebar-input {
  width: 19vw;
  height: 2vw;
  margin: 0.5vw;
  font-size: 1vw;
  display: none;
}

.sidebar-input:invalid {
  border-color: red;
}

.sidebar-input:focus:invalid {
  outline-color: red;
}

.sidebar-select {
  width: 19vw;
  height: 2vw;
  margin: 0.5vw;
  font-size: 1vw;
}

.sidebar option {
  font-size: 1vw;
}

.sidebar-checkbox-label {
  color: white;
  font-size: 1.2vw;
  margin: 0;
  margin-left: 0.5vw;
}

.sidebar-checkbox {
  margin: 0;
  margin-left: 0.5vw;
  width: 1.2vw;
  height: 1.2vw;
}

.sidebar-form {
  display: flex;
  flex-direction: column;
}

.sidebar-form hr {
  width: 100%;
}

input,
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .sidebar-open {
    width: 30vw;
  }
  .canvas-sidebar-open {
    padding-left: 30vw;
  }
  .sidebar-select {
    width: 28vw;
    height: 3vw;
    font-size: 1.5vw;
  }
  .sidebar-input {
    width: 28vw;
    height: 3vw;
    font-size: 1.5vw;
  }
  .sidebar-label {
    font-size: 2vw;
  }
  .sidebar-checkbox {
    width: 2vw;
    height: 2vw;
  }
  .sidebar-checkbox-label {
    font-size: 2vw;
  }
  .sidebar .closebtn {
    font-size: 3vw;
  }
  .sidebar {
    padding-top: 4vw;
  }
  .openBtn {
    font-size: 4vw;
  }
}

@media screen and (max-width: 768px) {
  .sidebar-open {
    width: 40vw;
  }
  .canvas-sidebar-open {
    padding-left: 40vw;
  }
  .sidebar-select {
    width: 38vw;
    height: 4vw;
    font-size: 2vw;
  }
  .sidebar-input {
    width: 38vw;
    height: 4vw;
    font-size: 2vw;
  }
  .sidebar-label {
    font-size: 3vw;
  }
  .sidebar-checkbox {
    width: 2vw;
    height: 2vw;
  }
  .sidebar-checkbox-label {
    font-size: 2vw;
  }
  .sidebar .closebtn {
    font-size: 3vw;
    padding: 1vw;
  }
  .sidebar {
    padding-top: 5vw;
  }
  .openBtn {
    font-size: 5vw;
  }
}

@media screen and (max-width: 576px) {
  .sidebar-open {
    width: 100vw;
  }
  .canvas-sidebar-open {
    padding-left: 100vw;
  }
  .sidebar-select {
    width: 98vw;
    height: 4vh;
    font-size: 2vh;
  }
  .sidebar-input {
    width: 98vw;
    height: 4vh;
    font-size: 2vh;
  }
  .sidebar-label {
    font-size: 2vh;
  }
  .sidebar-checkbox {
    width: 2vh;
    height: 2vh;
  }
  .sidebar-checkbox-label {
    font-size: 2vh;
  }
  .sidebar .closebtn {
    font-size: 3vh;
  }
  .sidebar {
    padding-top: 5vh;
  }
  .openBtn {
    font-size: 4vh;
    left: 1vh;
  }
}
