html,
body {
  overflow: hidden;
  margin: 0;
  background-color: black;
}
.sidebar {
  align-self: baseline;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3vw;
  white-space: nowrap;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 1vw;
  font-size: 2vw;
}
.sidebar span {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}
.openBtn {
  position: absolute;
  left: 1vw;
  bottom: 1vw;
  font-size: 2vw;
}
.canvas-container {
  position: relative;
}
.canvas-container canvas {
  transition: 0.5s;
}

.sidebar-label {
  color: white;
  font-size: 1.5vw;
  padding: 0.5vw;
  transition-delay: 500ms;
}

.sidebar-input {
  width: 19vw;
  height: 2vw;
  margin: 0.5vw;
  font-size: 1vw;
}

.sidebar-input:invalid {
  border-color: red;
}

.sidebar-input:focus:invalid {
  outline-color: red;
}

.sidebar-select {
  width: 19vw;
  height: 2vw;
  margin: 0.5vw;
  font-size: 1vw;
}

.sidebar option {
  font-size: 1vw;
}

.sidebar-checkbox-label {
  color: white;
  font-size: 1.2vw;
  margin-left: 0.5vw;
}

.sidebar-checkbox {
  margin: 0;
  margin-left: 0.5vw;
  width: 1.2vw;
  height: 1.2vw;
}

input,
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
